.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 51.3vw;
  }
  
  .container-l {
    position: absolute;
    right: 2%;
    top:25%;
    margin: 20px;
    max-width: 300px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: white;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: 5px 0 22px 0;
    border: none;
    
  }
  
  input[type=text]:focus, input[type=password]:focus {
    outline: none;
  }
  
  .btn-l {
    background-color: #D2691E;
    color: white;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: none;
    cursor: pointer;
    width: 108%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .row_header_buttons{
    position:relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
  .active_header_button{
    text-decoration: none;
  }
  
  .header_button{
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    margin: 2% 4% 2% 0%;
  }
  
  .header_button:hover{
    color: #cf9d6c;
    text-decoration: none;
  }
  
  .active_header_button{
    color: #cf9d6c;
  }